:root {
  --base: 1.6rem;
  --padding-side: 6vw;
  --black: #121212;
  --white: #ebebeb;
}

html {
  will-change: filter;
  transition: filter 20ms ease-in;
  font-family: 'TT Firs Neue', -apple-system, BlinkMacSystemFont, Roboto,
    sans-serif;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.4;
  z-index: 99;
  object-fit: initial;
}
