<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>{% if title %} {{ title }} - {% endif %} {{ site.title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{% if title %} {{ title }} - {% endif %} {{ site.title }}" />
        {% if theme.cover %}
        <meta property="og:image" content="{{ site.url }}{% img theme.cover, true %}" />
        {% endif %}
        {% for cover in site.cover %}
        <meta property="og:image" content="{{ site.url }}{% img cover, true %}" />
        {% endfor %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <link rel="apple-touch-icon" href="{% favicon theme.emoji %}" />
        <link rel="icon" href="{% favicon theme.emoji %}" />
        <link rel="preload" as="font" href="/fonts/TTFirsNeue-ExtraLight.woff2" type="font/woff2" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://nava.community/assets/styles.css">
		{% set css %} 
			{% include "assets/css/style.css" %} 
		{% endset %}
		<style>{{ css | cssmin | safe }}</style>
        {% if theme %}
        <style>
            html {
                background-image: linear-gradient({{ theme.background_color }}); 
            }
        </style>
        {% endif %}
		{% set js %} 
			{% include "assets/js/app.js" %}
		{% endset %}
		<script async defer> {{ js | jsmin | safe }}</script>
    </head>
    <body id="{{ tags }}" class="loading">  
