{% include "head.njk" %}

<!--<img class="hero" src="/assets/img/svartljus.svg">-->

<nav>
    <span>{{ site.description }}</span>
    <br />
    <br />
    {% for page in collections.page | reverse %}
    {{ page.data.theme.emoji }}
    <a href="{{ page.data.permalink }}">
        <span>{{ page.data.title }}</span>
    </a>
    {% endfor %}
    <!--{% for member in site.members %}
    <a href="{{ member.url }}" target="_blank">{{ member.emoji }} {{ member.name }}</a>
    {% endfor %}-->
    <br />
    <br />
    ☞ <a style="background-color: #eee;" href="https://www.instagram.com/svartljus/">Follow our Instagram
    </a>
</nav>

{% include "foot.njk" %}
