{% include "head.njk" %} 

<article>
    <section class="text-layout">
        <h1>
            <a href="/">
                {{ title }}
                {% if preamble %}
                <br />
                {{ preamble | safe }}
                {% endif %}
            </a>
        </h1>
    </section>
    {{ content | wrap | safe }}
</article>

{% include "foot.njk" %}
